body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

#title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#title {
    font-size: 20px;
    font-weight: bold;
}

#info-icon {
    cursor: pointer;
    font-size: 18px;
}

#info-dialog {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 500px;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    display: grid;
    flex: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
    box-sizing: border-box;
}

#top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid #ccc;
    position: relative;
}

#top-right {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#bottom-left {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#bottom-right {
    position: relative;
    top: 0;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    flex-direction: column;
}

#character-multiselect-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    display: flex;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 250px;
}

#character-multiselect-button {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
    z-index: 20;
}

#character-multiselect-dropdown {
    position: absolute;
    margin-top: 27px;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;;
}

#character-multiselect-dropdown.hidden {
    display: none;
}

#character-options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: calc(100% - 50px);
}

#character-scroll-container {
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#character-multiselect-done {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    align-self: center;
}

.slider {
    background-color: #ddd;
    cursor: pointer;
    z-index: 10;
}

#vertical-slider {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    width: 10px;
    cursor: ew-resize;
}

#horizontal-slider {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    height: 10px;
    cursor: ns-resize;
}

#season-select {
    position: fixed;
    top: 35px;
    left: 10px;
    margin-top: 25px;
}

.tooltip {
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    min-width: 80px;
    padding-right: 5px;
    width: auto;
    height: 60px;
    background: #fff;
    position: absolute;
    z-index: 10;
}

#heatmap {
    width: 100%;
    height: 100%;
}

.responsive-svg {
    width: 100%;
    height: 100%;
}

#controls {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

#word-cloud-filter-container {
    display: flex;
    align-items: center;
}

#character-select-label {
    margin-right: 10px;
}

#character-select {
    align-self: end;
}

#bottom-right>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
#bottom-right>*>* {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#bottom-right :is(h1, h2, h3, h4, h5) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 14px 10px 0px 10px;
}
#bottom-right h1 {
    font-size: 2.5em;
}

#btm-right-content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#btm-right-content>div {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disabled {
    display: none !important;
}